/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Ignore MySQL data
data/
primary/
secondary/
shared-run/
mysql-router/

# Ignore Grafana data
grafana-data/
grafana.db

# Ignore other temporary or system files
*.sock
*.sql
*.log
*.tmp
*.map
*.LICENSE.txt

# Ignore VSCode, OS, Docker, etc.
.vscode/
.DS_Store
node_modules/
storage/
vendor/
.env

